/* ------- Styles in common ------- */
#main,
#title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#title,
#icons,
#icons span,
#nav,
#title > p,
#form,
#mainpart,
#footer {
  display: flex;
}
#icons span,
#nav,
#mainpart,
#footer {
  justify-content: center;
  align-items: center;
}
#form > span,
#form > input {
  margin-top: 30px;
  height: 40px;
}
#icons,
#title > p,
#form > span {
  height: 100%;
}
#form > input,
#submit {
  border-radius: 5px;
}
#form > input,
#table,
#firstrow,
#secondrow,
#thirdrow {
  border: 1px solid rgb(149, 149, 149);
}
#firstrow,
#secondrow,
#thirdrow {
  background-color: rgb(198, 196, 196);
}
/* ------- Main Part ------- */
#main {
  border: 2px solid black;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  width: 70%;
}
/*------- Title -------*/
#title {
  height: 30px;
  background-color: rgb(198, 196, 196);
  width: 100%;
  align-items: center;
  border-bottom: 2px solid black;
}
#icons {
  width: 20%;
  align-items: center;
}
#icons span {
  margin: 0 5px;
  background-color: rgb(50, 49, 49);
  color: white;
  font-size: 1.1rem;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
#title > p {
  align-items: center;
  width: 80%;
  margin-left: 30%;
}
/* ------- Nav Bar -------*/
#nav {
  border-bottom: 1px solid black;
  height: 50px;
}
/* ------- Submit part -------*/
#form {
  width: 50%;
  flex-wrap: wrap;
  border-right: 2px solid black;
  align-items: center;
}
#form > span {
  width: 30%;
  display: block;
  margin-right: 5px;
  text-align: right;
}
#form > input {
  width: 65%;
  border: 1px solid rgb(149, 149, 149);
}
#submit {
  margin-top: 40px;
  width: 65%;
  margin-left: 31%;
  height: 35px;
  background-color: #3339ae;
  color: white;
  font-size: 1rem;
  border: none;
  margin-bottom: 100px;
}
/* -------Data Table ------- */
#scroll {
  height: 300px;
  overflow-y: auto;
  width: 45%;
  margin: 0 auto;
}
#table {
  width: 100%;
  margin: 0 auto;
}
#firstrow,
#secondrow {
  width: 40%;
}
#firstrow,
#secondrow,
#thirdrow {
  vertical-align: middle;
  height: 40px;
  text-align: center;
  font-weight: bold;
}
#thirdrow {
  width: 20%;
}
/* -------Footer------- */
#footer {
  height: 50px;
  border-top: 2px solid black;
}
/* -------Added row tables class ------- */
.addedRows {
  height: 40px;
  border: 1px solid rgb(149, 149, 149);
  background-color: white;
  text-align: center;
  line-height: 40px;
}
