/* ------- Styles in common ------- */
nav,
#form,
#mainpart,
footer {
  display: flex;
}
nav,
#mainpart,
footer {
  justify-content: center;
  align-items: center;
}
#form > span,
#form > input {
  margin-top: 30px;
  height: 40px;
}
#form > input,
#form > button {
  border-radius: 5px;
}
#form > input,
#table,
#table > thead th {
  border: 1px solid rgb(149, 149, 149);
}
#table > thead th {
  background-color: rgb(198, 196, 196);
}
/* ------- Main Part ------- */
main {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid black;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  width: 70%;
}
/* ------- Nav Bar -------*/
nav {
  border-bottom: 1px solid black;
  height: 50px;
}
/* ------- Submit part -------*/
#form {
  flex: 1;
  flex-wrap: wrap;
  border-right: 2px solid black;
}
#form > span {
  width: 80px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: end;
}
#form > input {
  width: 300px;
  border: 1px solid rgb(149, 149, 149);
}
#form button {
  margin-top: 40px;
  width: 300px;
  margin-left: 85px;
  height: 35px;
  background-color: #3339ae;
  color: white;
  font-size: 1rem;
  border: none;
  margin-bottom: 100px;
}
/* -------Data Table ------- */
#scroll {
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  flex: 1;
  margin: 0 auto;
}
#table {
  width: 350px;
  margin: 0 auto;
}
#table > thead th {
  vertical-align: middle;
  height: 40px;
  text-align: center;
  font-weight: bold;
}
/* -------Footer------- */
footer {
  height: 50px;
  border-top: 2px solid black;
}
/* -------Added row tables class ------- */
.addedRows {
  height: 40px;
  border: 1px solid rgb(149, 149, 149);
  background-color: white;
  text-align: center;
  line-height: 40px;
}
